.skills{
    width: 100%;
    height: 100vh;
    background-color: #232946;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sobre-habilidades{
    display: flex;
    justify-content: center;
    color: #ffffff;
    align-items: center;
    margin-top: 3%;
}

.sobre-habilidades h2{
    position: absolute;
    left: 4%;
    cursor: pointer;
    transition: .5s;
}

.sobre-habilidades h2:hover{
    scale: 1.1;
    transition: .5s;
}

.sobre-habilidades h1{
    font-size: 50px;
}

.skill{
    font-size: 70px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 13vh;
    text-align: center;
}

.skill_{
    width: 20%;
    height: 30vh;
    overflow: hidden;
    box-shadow: 0px 3px 23px 9px rgba(0,0,0,0.51);
    transition: 0.5s;
    opacity: 0.7;
}

.skill_:hover{
    scale: 1.1;
    opacity: 1;
    transition: 0.5s;
}

.html{
    color: rgb(252, 109, 0);
    margin-top: 3vh;
}

.css{
    color: blue;
    margin-top: 3vh;
}

.js{
    color: gold;
    margin-top: 3vh;
}

.react{
    color: aqua;
    margin-top: 3vh;
}

.skill p{
    margin-top: 2vh;
    color: #ffffff;
}

.skills > p{
    color: #ffffff;
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    animation: pisca .7s infinite;
}

@media screen and (max-width: 1000px) {
    .skill{
        flex-wrap: wrap;
        margin-top: 2%;
        font-size: 2.5em;
    }

    .skill_{
        width: 20%;
        height: 23vh;
    }

    .w50{
        width: 40%;
        margin-top: 6%;
    }

    .skills > p{
        color: #ffffff;
        font-size: 40px;
        display: flex;
        justify-content: center;
        margin-top: 10vh;
        animation: pisca .7s infinite;
    }
}

@media screen and (max-width: 800px) {
    .sobre-habilidades h2{
        left: 2%;
        font-size: 1em;
    }
    
    .sobre-habilidades h1{
        font-size: 2em;
    }
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0.0;
    }
}